* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-transform: uppercase;
  background-color: #548eab;
  width: 100%;
  max-width: 1100px;
}

.header a {
  text-decoration: none;
  text-align: right;
}

.header h1 {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
  padding: 5px 100px;
}

.header img {
  margin: -25px -5px;
  transform: translateY(23px) scale(1.25);
}

.content {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  width: 100%;
  max-width: 900px;
}

h1 {
  color: #212d40;
}

h2 {
  background-color: #ecf2f6;
  color: #222222;
  font-size: 20px;
  padding: 15px;
}

label {
  text-transform: uppercase;
}

.title {
  font-size: 15px;
  flex: 1;
  width: 100%;
  max-width: 900px;
  padding: 30px 15px;
}

.form-section {
  background-color: #d3e4ec;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 15px 5px;
  margin-bottom: 40px;
}

.section-header {
  display: flex;
}

.section-header .index {
  background-color: #548eab;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  width: 50px;
  text-align: center;
  margin-left: -50px;
}

.section-header h2 {
  flex: 1;
}

.input-section {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px 10px;
}

.packaging {
  padding: 200px;
}

.input-section label {
  font-size: 12px;
  padding: 0px 0px 10px 0px;
}

.input-section .text-input {
  height: 60px;
  border: 0px;
  width: 100%;
  padding: 15px;
}

.input-section input::placeholder {
  color: #a6a6a6;
  text-transform: uppercase;
}

.input-section .text-summary {
  height: 60px;
  width: 100%;
  padding: 22px 15px;
  background-color: #edf2f6;
  font-size: 13px;
  text-transform: uppercase;
}

.require-packaging {
  display: flex;
  height: 60px;
}

.radio {
  width: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.radio span {
  font-size: 12px;
  text-transform: uppercase;
  padding-right: 10px;
}

.radio input {
  appearance: none;
  background-color: #fff;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.radio input:checked::before {
  content: '';
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  background-color: #548eab;
}

.submit-button {
  width: 350px;
  align-self: flex-end;
  background-color: #548eab;
  border: 0px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
}

.warning {
  color: #dd2222dd;
  padding: 5px 10px 0px 5px;
  font-size: 14px;
  margin-bottom: -21px;
}

.warning::before {
  content: '[ ';
}

.warning::after {
  content: ' ]';
}

.info-section {
  background-color: #d3e4ec;
  display: flex;
  padding: 5px;
  margin-bottom: 40px;
}

.info-text {
  flex: 3;
  padding: 15px;
}

.price-info {
  font-size: 20px;
  font-weight: bold;
}

.price-info p {
  padding-bottom: 15px;
}

.contact-info {
  font-size: 12px;
  text-transform: uppercase;
}

.contact-info p {
  padding-bottom: 15px;
}

.contact-info a {
  color: #558dab;
}

.info-submit {
  flex: 1;
  align-self: flex-end;
  padding: 15px;
}

.info-submit input {
  width: 350px;
  align-self: flex-end;
  background-color: #548eab;
  border: 0px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
}

.update-form-btn {
  align-self: flex-end;
  background-color: #548eab;
  border: 0px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  text-decoration: none;
  margin: -40px 0px 20px;
}

.pac-logo::after {
  display: none;
}

.spinner {
  transform: rotate(-90deg);
  width: 60px;
  height: 60px;

  .circle {
    stroke-linecap: round;
    stroke-dasharray: 360;
    stroke-width: 5;
    stroke: #558dab;
    fill: transparent;
    animation: spin 0.8s ease-in-out 0s normal infinite;
  }
}

.estimating-spinner {
  transform: rotate(-90deg);
  width: 120px;
  height: 120px;

  .circle {
    stroke-linecap: round;
    stroke-dasharray: 360;
    stroke-width: 10;
    stroke: #558dab;
    fill: transparent;
    animation: spin 0.8s ease-in-out 0s normal infinite;
  }
}

@keyframes spin {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 40;
  }
}

.loading-cover {
  height: 100vh;
  width: 100vh;
  position: absolute;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-cover p {
  font-size: 2em;
  padding: 30px;
  color: #558dab;
  font-weight: 600;
}
